section
  margin: 40px 0
  text-align: center

  & > div
    padding: 15px 20px

    h2
      color: $section-title-color
      font-weight: 700

    h4
      font-weight: 700

    .information
      margin: 25px auto

      .fa
        color: $icon-color

.information-btn
  background-color: $info-btn-bg-color
  font-size: 1.2em
  padding: 7px 15px

  a
    color: $info-btn-font-color

#schedule
  background-color: $section-divide-bg-color

#registration
  .fa-ticket
    text-align: center

  .btn
    @extend .information-btn
    display: block
    margin: 20px auto

#sponsors
  background-color: $section-divide-bg-color

  h3
    color: $sponsors-subtitle-color
    font-weight: 800
    line-height: 1.25
    padding-bottom: 10px

  .btn
    @extend .information-btn
    margin-bottom: 15px

#about
  background-color: $section-divide-bg-color
