@import url(https://fonts.googleapis.com/css?family=Roboto:900,700,500,400|Quantico:400,700|Electrolize|Aldrich);
a:hover {
  text-decoration: none; }

.background-img, .main-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main-img {
  background-image: url("/Users/hyunahkelly/Documents/FrontEnd/bside/assets/images/main-img-sm.png");
  height: 500px; }

.event-info {
  background-color: rgba(50, 81, 104, 0.5);
  color: #FFF;
  font-family: "Quantico", sans-serif;
  max-width: 320px;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px; }
  @media only screen and (min-width: 420px) {
    .event-info {
      max-width: 400px; } }
.event-name {
  font-weight: 900; }
.event-date-place {
  line-height: 1.5; }
  .event-date-place span {
    font-weight: normal; }

.register-btn {
  background-color: rgba(50, 81, 104, 0.2);
  border: 2px solid #FFF;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #EEE;
  font-weight: 700;
  padding: 10px 15px;
  position: relative;
  left: 15px;
  right: 0;
  top: 375px; }
  @media only screen and (min-width: 420px) {
    .register-btn {
      top: 350px; } }
  .register-btn a {
    color: #FFF; }

.nav-logo {
  display: none; }
.nav-menu-btn {
  background-color: transparent;
  border: 0px;
  color: #FFF;
  display: inline-block;
  font-size: 2.3em;
  padding: 10px 15px;
  text-align: left;
  width: 100%; }
  .nav-menu-btn:focus {
    outline: none; }
.nav-menu {
  background-color: #EEE;
  font-family: "Roboto", sans-serif; }
  .nav-menu ul {
    list-style-type: none;
    padding: 15px 10px; }
    .nav-menu ul a {
      display: block;
      color: #010E17;
      font-size: 1.1em;
      font-weight: 700;
      padding: 7px 15px; }
      .nav-menu ul a:hover {
        color: #6195BB; }

section {
  margin-top: 40px;
  text-align: center; }
  section > div {
    padding: 15px 20px; }
    section > div h2 {
      color: #041A2B;
      font-weight: 700; }
    section > div h3 {
      color: #010E17;
      font-weight: 800;
      line-height: 1.25; }
    section > div h4 {
      font-weight: 700; }
    section > div .information {
      margin: 25px auto; }
      section > div .information .fa {
        color: #0A263A; }

.information-btn, #cfp .btn, #registration .btn, #sponsors .btn {
  background-color: #29577A;
  font-size: 1.2em;
  padding: 7px 15px; }
  .information-btn a, #cfp .btn a, #registration .btn a, #sponsors .btn a {
    color: #FFF; }

#cfp .btn {
  margin-top: 10px; }

#registration {
  background-color: #EEE; }
  #registration h4 {
    line-height: 1.3; }
  #registration .fa-ticket {
    text-align: center; }
  #registration .btn {
    display: block;
    font-size: 16px;
    margin: 20px auto; }

#sponsors .btn {
  margin-bottom: 15px; }

#volunteers {
  background-color: #EEE; }

.planner-img, #about .planner-img-one, #about .planner-img-two {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 180px;
  padding: 15px;
  width: 180px; }

#about .team-member {
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 420px) {
    #about .team-member {
      padding: 10px 35px; } }
#about .planner-img-one {
  background-image: url("/Users/hyunahkelly/Documents/FrontEnd/bside/assets/images/josh.jpg"); }
#about .planner-img-two {
  background-image: url("/Users/hyunahkelly/Documents/FrontEnd/bside/assets/images/magen.jpg"); }

#location {
  background-color: #EEE;
  padding-bottom: 40px; }
  #location h4 {
    line-height: 1.3; }

.map {
  border: 0;
  margin: auto;
  max-height: 190px;
  max-width: 290px;
  padding: 10px; }
  @media only screen and (min-width: 420px) {
    .map {
      max-height: 350px;
      max-width: 500px; } }

footer {
  background-color: #041A2B;
  color: #FFF;
  padding: 10px 20px; }
  footer .fa {
    color: #FFF; }

.contact {
  display: inline-block;
  margin-right: 40px; }
  .contact span {
    font-size: 15px;
    padding: 0 10px; }

.follow {
  display: inline-block; }
  .follow a {
    padding: 0 10px; }

/*# sourceMappingURL=application.css.map */
